<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">

    <title>Error Labeling System</title>
</head>
<body>

{% block container %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

{% block scripts %}{% endblock scripts %}

</body>

</html>
