{% extends 'base.html' %}

{% block container %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Order Error Labeling</h1>
                <small>Subject {{ context['subject_id'] }} - Method #{{ context['method_number'] }} ({{ context['method_id'] }}) - Task #{{ context['task_number'] }} ({{ context['task_id'] }}) - Order {{ context['order_id'] }}</small>

                <!-- Used by JavaScript to interactively get next order. -->
                <input type="hidden" id="subject-id" value="{{ context['subject_id'] }}">
                <input type="hidden" id="method-id" value="{{ context['method_id'] }}">
                <input type="hidden" id="task-id" value="{{ context['task_id'] }}">
                <input type="hidden" id="order-id" value="{{ context['order_id'] }}">

                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Expected Items in <strong>{{ context['receiving_bin_tag'] }}</strong> (receive bin)</h3>
                <hr/>
                <div class="row">
                    {% for expected_item_file_name, expected_count, source_bin_tag in context['expected_items_file_names_and_counts_and_source_bin_tags'] %}
                        <div class="col-md-4">
                            <figure class="figure">
                                <img src="{{ expected_item_file_name }}" class="figure-img img-fluid rounded">
                                <figcaption class="figure-caption">
                                    {% for i in expected_count|range %}
                                        <div class="item-indicator"></div>
                                    {% endfor %}

                                    <span class="float-right">From {{ source_bin_tag }}</span>
                                <br/>
                                <hr/>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
                <h3>Actual bin</h3>
                <hr/>
                <img src="{{ context['actual_bin_file_path'] }}" class="figure-img img-fluid rounded">
            </div>

            <div class="col-md-3">
                <div id="confirmation-messages">
                    <!-- Confirmations go here... -->
                </div>
            </div>
        </div>

        <div class="row align-bottom">
            <div class="col-md-12">
                <h3>Are all the Expected items in the Actual bin?</h3>
                <hr/>
            </div>

            <div class="col-md-6">
                <button class="btn btn-success btn-block"
                    id="button-yes">
                    Yes, All Items Present
                    <br/>
                    (keyboard: y)</button>
            </div>

            <div class="col-md-6">
                <button class="btn btn-danger btn-block"
                    id="button-no">
                    No, Something is Wrong
                    <br/>
                    (keyboard: n)
                </button>
            </div>
        </div>
    </div>

{% endblock container %}


{% block scripts %}
<script type="text/javascript" src="/static/scripts.js"></script>
{% endblock scripts %}